<h1>>itre de ma première page Symfony</h1>

<p>Ceci est un paragraphe de textes qui illustre le fonctionnement d'une vue avec Symfony et Twig. Pour le moment, il ne s'agit que d'une simple page html</p>